src/flows/calce_detail_update_opp.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>first_If_condition</name>
        <label>first If condition</label>
        <locationX>431</locationX>
        <locationY>151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primer_if</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Upsert_New_Calce_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Calce</targetReference>
            </connector>
            <label>Primer if</label>
        </rules>
        <rules>
            <name>Segundo_If</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Upsert_New_Calce_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatee</targetReference>
            </connector>
            <label>Segundo If</label>
        </rules>
    </decisions>
    <formulas>
        <name>tomorrow_date</name>
        <dataType>Date</dataType>
        <expression>today() + 1</expression>
    </formulas>
    <interviewLabel>calce detail update opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>calce detail update opp id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Calce_Details</name>
        <label>Crear Calce Details</label>
        <locationX>911</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Update_origin_calce_detail</targetReference>
        </connector>
        <inputAssignments>
            <field>CheckDate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upsert_New_Calce_Detail__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account_id__c</field>
            <value>
                <elementReference>$Record.account_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>$Record.Pending_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>calce_id__c</field>
            <value>
                <elementReference>Get_Calce.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>close_date__c</field>
            <value>
                <elementReference>$Record.TomorrowCalceDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>opportunity_id__c</field>
            <value>
                <elementReference>iddelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>product_code__c</field>
            <value>
                <elementReference>$Record.product_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>product_id__c</field>
            <value>
                <elementReference>$Record.product_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>product_name__c</field>
            <value>
                <elementReference>$Record.product_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>return__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sub_type__c</field>
            <value>
                <elementReference>$Record.sub_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type__c</field>
            <value>
                <elementReference>$Record.type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Calce_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Opp_0</name>
        <label>Crear Opp</label>
        <locationX>728</locationX>
        <locationY>133</locationY>
        <assignRecordIdToReference>iddelaoportunidad</assignRecordIdToReference>
        <connector>
            <targetReference>Crear_Calce_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.account_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Pending_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.TomorrowCalceDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.opportunity_id__r.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>02</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>opportunity_planning_date__c</field>
            <value>
                <elementReference>tomorrow_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>opportunity_product__c</field>
            <value>
                <elementReference>$Record.opportunity_id__r.opportunity_product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>opportunity_product_family__c</field>
            <value>
                <elementReference>$Record.opportunity_id__r.opportunity_product_family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>opportunity_status_type__c</field>
            <value>
                <stringValue>02</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Calce</name>
        <label>Get Calce</label>
        <locationX>601</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Opp_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>close_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TomorrowCalceDetail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calce_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calce__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_origin_calce_detail</name>
        <label>Update origin calce detail</label>
        <locationX>1061</locationX>
        <locationY>136</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Upsert_New_Calce_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Upsert_New_Calce_Detail__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatee</name>
        <label>updatee</label>
        <locationX>438</locationX>
        <locationY>353</locationY>
        <inputAssignments>
            <field>Upsert_New_Calce_Detail__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>21</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>first_If_condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HadCanAmount__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Calce_Details__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentDateOfFlow</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>iddelaoportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Crear_Opp_0</elementReference>
        </value>
    </variables>
</Flow>
