src/flows/Compromisos-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>CompromisoAsignacion</name>
        <label>CompromisoAsignacion</label>
        <locationX>335</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>CompromisoObject.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromisoObject.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Divisa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromisoObject.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromisoObject.PE_DIVISA_Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importe_SM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromisoObject.PE_SH_PRODUCT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductosList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromisoObject.PE_FOR_Fecha_Vcto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Vcto_dd_mm_aaaa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromisoObject.PE_NUM_Permanencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permanencia_d_as2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompromisoObject.PE_NUM_Plazo_Vcto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plazo_Vcto_d_as2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validacion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ninguno</name>
        <choiceText>-Ninguno</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PEN</name>
        <choiceText>PEN</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Validacion</name>
        <label>Validacion</label>
        <locationX>556</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>No Guardar</defaultConnectorLabel>
        <rules>
            <name>GUardar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompromisoObject.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CompromisoObject.PE_DIVISA_Importe__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CompromisoObject.PE_SH_PRODUCT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CompromisoObject.PE_NUM_Permanencia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creacion_del_compromiso</targetReference>
            </connector>
            <label>Guardar</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>compromiso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Productos</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PEN</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TIpo_Moneda</name>
        <dataType>String</dataType>
        <displayField>IsoCode</displayField>
        <object>CurrencyType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Suma60dias</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(DATE( YEAR(DATEVALUE({!OpportunityLineItemObj.PE_DATE_Fecha_cotizacion__c} )), MONTH( DATEVALUE({!OpportunityLineItemObj.PE_DATE_Fecha_cotizacion__c} )) + 2 ,  DAY( DATEVALUE({!OpportunityLineItemObj.PE_DATE_Fecha_cotizacion__c} ))))</expression>
    </formulas>
    <interviewLabel>Compromisos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compromisos</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creacion_del_compromiso</name>
        <label>Creacion del  compromiso</label>
        <locationX>720</locationX>
        <locationY>155</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>CompromisoObject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Busqueda_lineItem</name>
        <label>Busqueda lineItem</label>
        <locationX>676</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compromisos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Init</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OpportunityLineItemObj</outputReference>
        <queriedFields>PE_DATE_Fecha_cotizacion__c</queriedFields>
        <queriedFields>PE_POR_Comision_estructuracion__c</queriedFields>
        <queriedFields>PE_POR_Comision_liquidacion_anticipada__c</queriedFields>
        <queriedFields>PE_POR_Spread__c</queriedFields>
        <queriedFields>PE_POR_TEA_minima__c</queriedFields>
        <queriedFields>PE_POR_TEA_propuesta__c</queriedFields>
        <queriedFields>PE_POR_TEA_sugerida__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>BusquedaOportunidad</name>
        <label>BusquedaOportunidad</label>
        <locationX>110</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CompromisoAsignacion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Init</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <screens>
        <name>Compromiso</name>
        <label>Nuevo Compromiso</label>
        <locationX>113</locationX>
        <locationY>21</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BusquedaOportunidad</targetReference>
        </connector>
        <fields>
            <name>Nuevo</name>
            <fieldText>Nuevo Compromiso</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductosList</name>
            <choiceReferences>Ninguno</choiceReferences>
            <choiceReferences>Productos</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ninguno</defaultSelectedChoiceReference>
            <fieldText>Productos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Divisa</name>
            <choiceReferences>Ninguno</choiceReferences>
            <choiceReferences>Currency</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ninguno</defaultSelectedChoiceReference>
            <fieldText>Divisa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Importe_SM</name>
            <dataType>Currency</dataType>
            <fieldText>Importe (SM)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Plazo_Vcto_d_as2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>60.0</numberValue>
            </defaultValue>
            <fieldText>Plazo Vcto días</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Fecha_Vcto_dd_mm_aaaa</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Suma60dias</elementReference>
            </defaultValue>
            <fieldText>Fecha Vcto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Permanencia_d_as2</name>
            <dataType>Number</dataType>
            <fieldText>Permanencia (días)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Compromisos</name>
        <label>Compromisos</label>
        <locationX>322</locationX>
        <locationY>14</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Compromiso</targetReference>
        </connector>
        <fields>
            <name>PREVIOS</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;COMPROMISOS PREVIOS&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>960</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGuardado</name>
            <fieldText>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No se ha guardado ningun Compromiso ya que los siguientes campos estan llenos desea descartar el compromiso ? pulse finalizar&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Busqueda_lineItem</startElementReference>
    <variables>
        <name>CompromisoObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>compromiso__c</objectType>
    </variables>
    <variables>
        <name>ID_Init</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItemObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
