src/flows/dwp_create_OwnerVisitTeam-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Sin criterios</label>
        </rules>
    </decisions>
    <description>Proceso que crea el registro del propietario en el objeto &quot;Visit Management Team&quot; cuando se crea un registro en el objeto &quot;Visit&quot;</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
CASE([dwp_kitv__Visit__c].CreatedBy.User_position_equivalence__c, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, &quot;true&quot;, 
&quot;GERENTE REGIONAL BEC&quot;, &quot;true&quot;, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, &quot;true&quot;, 
&quot;GERENTE BEC&quot;, &quot;true&quot;, 
&quot;EJECUTIVO BEC&quot;, &quot;true&quot;, 
&quot;ASSOCIATE&quot;, &quot;true&quot;, 
&quot;GTE LEASING &amp; COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO LEASING&quot;, &quot;true&quot;, 
&quot;GTE REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO DT&quot;, &quot;true&quot;, 
&quot;false&quot;) == &quot;true&quot; , 
IF([dwp_kitv__Visit__c].CreatedById == [dwp_kitv__Visit__c].dwp_kitv__account_id__c.OwnerId, false, true ), false)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_9268950163</name>
        <dataType>Boolean</dataType>
        <expression>IF(
CASE({!myVariable_current.CreatedBy.User_position_equivalence__c}, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, &quot;true&quot;, 
&quot;GERENTE REGIONAL BEC&quot;, &quot;true&quot;, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, &quot;true&quot;, 
&quot;GERENTE BEC&quot;, &quot;true&quot;, 
&quot;EJECUTIVO BEC&quot;, &quot;true&quot;, 
&quot;ASSOCIATE&quot;, &quot;true&quot;, 
&quot;GTE LEASING &amp; COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO LEASING&quot;, &quot;true&quot;, 
&quot;GTE REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO DT&quot;, &quot;true&quot;, 
&quot;false&quot;) == &quot;true&quot; , 
IF({!myVariable_current.CreatedById} == {!myVariable_current.dwp_kitv__account_id__r.OwnerId}, false, true ), false)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([dwp_kitv__Visit__c].CreatedBy.User_position_equivalence__c, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, [dwp_kitv__Visit__c].CreatedBy.Id , 
&quot;GERENTE REGIONAL BEC&quot;,  [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;GERENTE BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;ASSOCIATE&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;GTE LEASING &amp; COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO LEASING&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;GTE REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO DT&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
[dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.Id ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_6203712284</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.CreatedBy.User_position_equivalence__c}, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, {!myVariable_current.CreatedBy.Id} , 
&quot;GERENTE REGIONAL BEC&quot;,  {!myVariable_current.CreatedBy.Id}, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;GERENTE BEC&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO BEC&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;ASSOCIATE&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;GTE LEASING &amp; COMEX&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO COMEX&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO LEASING&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;GTE REDES&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO REDES&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO DT&quot;, {!myVariable_current.CreatedBy.Id}, 
{!myVariable_current.dwp_kitv__account_id__r.Owner.Id} )</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>dwp_create_OwnerVisitTeam-3_InterviewLabel</interviewLabel>
    <label>Process to create Owner Visit Team</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>dwp_kitv__Visit__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Crear Propietario</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send minutes</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__Send_minutes__c</field>
            <value>
                <stringValue>Do not send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Usuario</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__user_id__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_6203712284</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Visita</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__visit_id__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Propietario de la visita</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_owner_visit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit_Management_Team__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[dwp_kitv__Visit__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Keep Owner</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Mantener propietario</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>keep_owner__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_9268950163</elementReference>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>dwp_kitv__Visit__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>dwp_kitv__Visit__c</objectType>
    </variables>
</Flow>
