src/flows/dwp_create_OwnerVisitTeam.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>acpl__Commercial_Plan_Event__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.commercial_plan_event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>No esta asociado a un plan comercial</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Sin criterios</label>
        </rules>
    </decisions>
    <description>Proceso que crea el registro del propietario en el objeto &quot;Visit Management Team&quot; cuando se crea un registro en el objeto &quot;Visit&quot;</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
CASE([dwp_kitv__Visit__c].CreatedBy.User_position_equivalence__c, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, &quot;true&quot;, 
&quot;GERENTE REGIONAL BEC&quot;, &quot;true&quot;, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, &quot;true&quot;, 
&quot;GERENTE BEC&quot;, &quot;true&quot;, 
&quot;EJECUTIVO BEC&quot;, &quot;true&quot;, 
&quot;ASSOCIATE&quot;, &quot;true&quot;, 
&quot;GTE LEASING &amp; COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO LEASING&quot;, &quot;true&quot;, 
&quot;GTE REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO DT&quot;, &quot;true&quot;, 
&quot;false&quot;) == &quot;true&quot; , 
IF([dwp_kitv__Visit__c].CreatedById == [dwp_kitv__Visit__c].dwp_kitv__account_id__c.OwnerId, false, true ), false)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_5581519657</name>
        <dataType>Boolean</dataType>
        <expression>IF(
CASE({!myVariable_current.CreatedBy.User_position_equivalence__c}, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, &quot;true&quot;, 
&quot;GERENTE REGIONAL BEC&quot;, &quot;true&quot;, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, &quot;true&quot;, 
&quot;GERENTE BEC&quot;, &quot;true&quot;, 
&quot;EJECUTIVO BEC&quot;, &quot;true&quot;, 
&quot;ASSOCIATE&quot;, &quot;true&quot;, 
&quot;GTE LEASING &amp; COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO COMEX&quot;, &quot;true&quot;, 
&quot;EJECUTIVO LEASING&quot;, &quot;true&quot;, 
&quot;GTE REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO REDES&quot;, &quot;true&quot;, 
&quot;EJECUTIVO DT&quot;, &quot;true&quot;, 
&quot;false&quot;) == &quot;true&quot; , 
IF({!myVariable_current.CreatedById} == {!myVariable_current.dwp_kitv__account_id__r.OwnerId}, false, true ), false)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([dwp_kitv__Visit__c].CreatedBy.User_position_equivalence__c, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, [dwp_kitv__Visit__c].CreatedBy.Email , 
&quot;GERENTE REGIONAL BEC&quot;,  [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;GERENTE BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;EJECUTIVO BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;ASSOCIATE&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;GTE LEASING &amp; COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;EJECUTIVO COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;EJECUTIVO LEASING&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;GTE REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;EJECUTIVO REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
&quot;EJECUTIVO DT&quot;, [dwp_kitv__Visit__c].CreatedBy.Email, 
[dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.Email ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_5102657754</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.CreatedBy.User_position_equivalence__c}, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, {!myVariable_current.CreatedBy.Email} , 
&quot;GERENTE REGIONAL BEC&quot;,  {!myVariable_current.CreatedBy.Email}, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;GERENTE BEC&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;EJECUTIVO BEC&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;ASSOCIATE&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;GTE LEASING &amp; COMEX&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;EJECUTIVO COMEX&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;EJECUTIVO LEASING&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;GTE REDES&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;EJECUTIVO REDES&quot;, {!myVariable_current.CreatedBy.Email}, 
&quot;EJECUTIVO DT&quot;, {!myVariable_current.CreatedBy.Email}, 
{!myVariable_current.dwp_kitv__account_id__r.Owner.Email} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([dwp_kitv__Visit__c].CreatedBy.User_position_equivalence__c, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier , 
&quot;GERENTE REGIONAL BEC&quot;,  [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;GERENTE BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;EJECUTIVO BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;ASSOCIATE&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;GTE LEASING &amp; COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;EJECUTIVO COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;EJECUTIVO LEASING&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;GTE REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;EJECUTIVO REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
&quot;EJECUTIVO DT&quot;, [dwp_kitv__Visit__c].CreatedBy.FederationIdentifier, 
[dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.FederationIdentifier ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_3686712843</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.CreatedBy.User_position_equivalence__c}, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, {!myVariable_current.CreatedBy.FederationIdentifier} , 
&quot;GERENTE REGIONAL BEC&quot;,  {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;GERENTE BEC&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;EJECUTIVO BEC&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;ASSOCIATE&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;GTE LEASING &amp; COMEX&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;EJECUTIVO COMEX&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;EJECUTIVO LEASING&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;GTE REDES&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;EJECUTIVO REDES&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
&quot;EJECUTIVO DT&quot;, {!myVariable_current.CreatedBy.FederationIdentifier}, 
{!myVariable_current.dwp_kitv__account_id__r.Owner.FederationIdentifier} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([dwp_kitv__Visit__c].CreatedBy.User_position_equivalence__c, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName , 
&quot;GERENTE REGIONAL BEC&quot;,  [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;GERENTE BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;EJECUTIVO BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;ASSOCIATE&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;GTE LEASING &amp; COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;EJECUTIVO COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;EJECUTIVO LEASING&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;GTE REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;EJECUTIVO REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
&quot;EJECUTIVO DT&quot;, [dwp_kitv__Visit__c].CreatedBy.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].CreatedBy.LastName, 
[dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.LastName ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_1596099747</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.CreatedBy.User_position_equivalence__c}, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName} , 
&quot;GERENTE REGIONAL BEC&quot;,  {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;GERENTE BEC&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;EJECUTIVO BEC&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;ASSOCIATE&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;GTE LEASING &amp; COMEX&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;EJECUTIVO COMEX&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;EJECUTIVO LEASING&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;GTE REDES&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;EJECUTIVO REDES&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
&quot;EJECUTIVO DT&quot;, {!myVariable_current.CreatedBy.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.CreatedBy.LastName}, 
{!myVariable_current.dwp_kitv__account_id__r.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.dwp_kitv__account_id__r.Owner.LastName} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([dwp_kitv__Visit__c].CreatedBy.User_position_equivalence__c, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, [dwp_kitv__Visit__c].CreatedBy.Id , 
&quot;GERENTE REGIONAL BEC&quot;,  [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;GERENTE BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO BEC&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;ASSOCIATE&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;GTE LEASING &amp; COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO COMEX&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO LEASING&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;GTE REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO REDES&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
&quot;EJECUTIVO DT&quot;, [dwp_kitv__Visit__c].CreatedBy.Id, 
[dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.Id )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_9110389239</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.CreatedBy.User_position_equivalence__c}, 
&quot;GRTE ADJTO BCA EMPRESA Y CORP&quot;, {!myVariable_current.CreatedBy.Id} , 
&quot;GERENTE REGIONAL BEC&quot;,  {!myVariable_current.CreatedBy.Id}, 
&quot;JEFE PROMOCION DE NEGOCIO&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;GERENTE BEC&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO BEC&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;ASSOCIATE&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;GTE LEASING &amp; COMEX&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO COMEX&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO LEASING&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;GTE REDES&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO REDES&quot;, {!myVariable_current.CreatedBy.Id}, 
&quot;EJECUTIVO DT&quot;, {!myVariable_current.CreatedBy.Id}, 
{!myVariable_current.dwp_kitv__account_id__r.Owner.Id} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.FirstName &amp; &quot; &quot; &amp; [dwp_kitv__Visit__c].dwp_kitv__account_id__c.Owner.LastName</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_8_A1_0258731490</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.dwp_kitv__account_id__r.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.dwp_kitv__account_id__r.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>dwp_create_OwnerVisitTeam-5_InterviewLabel</interviewLabel>
    <label>Process to create Owner Visit Team</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>dwp_kitv__Visit__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Crear Propietario</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send minutes</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__Send_minutes__c</field>
            <value>
                <stringValue>Do not send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Google</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__gf_sf_external_cust_mail_desc__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_5102657754</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>User Id Google</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__gf_sf_external_customer_id__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_3686712843</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name Google User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__gf_sf_external_customer_name__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_1596099747</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Usuario</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__user_id__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_9110389239</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Visita</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__visit_id__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Propietario de la visita</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_owner_visit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit_Management_Team__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_8_A1</name>
        <label>Crear Propietario</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send minutes</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__Send_minutes__c</field>
            <value>
                <stringValue>Do not send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Google</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__gf_sf_external_cust_mail_desc__c</field>
            <value>
                <elementReference>myVariable_current.dwp_kitv__account_id__r.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>User Id Google</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__gf_sf_external_customer_id__c</field>
            <value>
                <elementReference>myVariable_current.dwp_kitv__account_id__r.Owner.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name Google User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__gf_sf_external_customer_name__c</field>
            <value>
                <elementReference>formula_9_myRule_8_A1_0258731490</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__user_id__c</field>
            <value>
                <elementReference>myVariable_current.dwp_kitv__account_id__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Visit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_kitv__visit_id__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Propietario de la visita</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>dwp_owner_visit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit_Management_Team__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[dwp_kitv__Visit__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Keep Owner</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Mantener propietario</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>keep_owner__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_5581519657</elementReference>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>dwp_kitv__Visit__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>dwp_kitv__Visit__c</objectType>
    </variables>
</Flow>
