src/flows/Flujo_Cotizacion_V0-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>asigna_superior</name>
        <label>superior</label>
        <locationX>878</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>Comisinmnima_Constante</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cotizacion_TARIFARIO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Normal</name>
        <label>Normal</label>
        <locationX>1009</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>Comisinmnima_Constante</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cotizacion_TARIFARIO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_OportunityLineItem</name>
        <label>Asignacion OportunityLineItem</label>
        <locationX>359</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_Comision_liquidacion_anticipada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OportunityProduct.PE_POR_Comision_liquidacion_anticipada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_Comision_estructuracion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE_POR_Comision_estructuracion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_Spread__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OportunityProduct.PE_POR_Spread__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_propuesta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE_POR_TEA_propuesta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_minima__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE_POR_TEA_minima</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_sugerida__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE_POR_TEA_sugerida</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_DATE_Fecha_cotizacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Otro</name>
        <label>Otro</label>
        <locationX>1146</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>Comisinmnima_Constante</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cotizacion_TARIFARIO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cotizacion_Asingacion</name>
        <label>Cotizacion Asingacion</label>
        <locationX>587</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_Spread__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spread_Constante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_DATE_Fecha_cotizacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_minima__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEAmnima</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_propuesta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEA_propuesta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_sugerida__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEAsugeridaContate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tarifario</name>
        <label>tarifario</label>
        <locationX>895</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_minima__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE_POR_TEA_minima</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_DATE_Fecha_cotizacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunityProduct.PE_POR_TEA_propuesta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comisi_n_propuesta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TopAsignacion</name>
        <label>Top</label>
        <locationX>737</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>Comisinmnima_Constante</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cotizacion_TARIFARIO</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ninguno</name>
        <choiceText>-Ninguno</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Desiscion_Asignacion</name>
        <label>Desiscion Asignacion</label>
        <locationX>853</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Asignacion_Otro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros</defaultConnectorLabel>
        <rules>
            <name>Top</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente.segment_desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Top</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TopAsignacion</targetReference>
            </connector>
            <label>Top</label>
        </rules>
        <rules>
            <name>Superior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente.segment_desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Superior</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigna_superior</targetReference>
            </connector>
            <label>Superior</label>
        </rules>
        <rules>
            <name>Normal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente.segment_desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Normal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Normal</targetReference>
            </connector>
            <label>Normal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Producto_Linea</name>
        <label>Valida Producto Linea</label>
        <locationX>560</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Producto_no_Cotizador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Cotiza_Web</name>
            <conditionLogic>(1 OR 2) OR (3 OR 4) OR (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00061</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00062</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00063</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cotizacion_CotizaWeb</targetReference>
            </connector>
            <label>Cotiza Web</label>
        </rules>
        <rules>
            <name>Cotiza_Tarifario</name>
            <conditionLogic>(1 OR 2) OR (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00029</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00089</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00031</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00091</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Busqueda_Cliente</targetReference>
            </connector>
            <label>Cotizacion Tarifario</label>
        </rules>
        <rules>
            <name>Cotiza_Prestamos</name>
            <conditionLogic>(1 OR 2) OR (3 OR 4) OR (5 OR 6) OR (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00018</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00078</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00024</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00084</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00025</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00085</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00026</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunityProduct.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC00086</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cotizar_panel1</targetReference>
            </connector>
            <label>Cotiza Prestamos</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OportunityList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Flujo_Cotizacion_V0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo_Cotizacion_V0</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Busqueda_Cliente</name>
        <label>Busqueda Cliente</label>
        <locationX>848</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desiscion_Asignacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_base.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Cliente</outputReference>
        <queriedFields>segment_id__c</queriedFields>
        <queriedFields>segment_desc__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Busqueda_de_OpportunityLineItem</name>
        <label>Busqueda de OpportunityLineItem</label>
        <locationX>117</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_Producto_Linea</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pantalla_Error</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Init</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OportunityProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PE_POR_Comision_estructuracion__c</queriedFields>
        <queriedFields>PE_POR_Comision_liquidacion_anticipada__c</queriedFields>
        <queriedFields>PE_POR_Spread__c</queriedFields>
        <queriedFields>PE_POR_TEA_minima__c</queriedFields>
        <queriedFields>PE_POR_TEA_sugerida__c</queriedFields>
        <queriedFields>PE_POR_TEA_propuesta__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOpline</name>
        <label>updateOpline</label>
        <locationX>165</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Genera_Compromiso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pantalla_Error</targetReference>
        </faultConnector>
        <inputReference>OportunityProduct</inputReference>
    </recordUpdates>
    <screens>
        <name>Cotizacion_CotizaWeb</name>
        <label>Cotizacion</label>
        <locationX>588</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cotizacion_Asingacion</targetReference>
        </connector>
        <fields>
            <name>TEAsugerida2</name>
            <fieldText>TEA sugerida (%): {!TEAsugeridaContate} %</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TEAmnima2</name>
            <fieldText>TEA mínima (%): {!TEAmnima} %</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpreadV2</name>
            <fieldText>Spread (%):  {!Spread_Constante} %</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TEA_propuesta</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>TEA propuesta (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cotizacion_TARIFARIO</name>
        <label>Cotizacion TARIFARIO</label>
        <locationX>891</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>tarifario</targetReference>
        </connector>
        <fields>
            <name>Comisinmnima</name>
            <fieldText>Comisión mínima (%): {!Comisinmnima_Constante}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comisi_n_propuesta</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Comisión propuesta (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cotizar_panel1</name>
        <label>Cotizar</label>
        <locationX>359</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_OportunityLineItem</targetReference>
        </connector>
        <fields>
            <name>PE_POR_TEA_sugerida</name>
            <dataType>Number</dataType>
            <fieldText>Tea sugerida (%):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PE_POR_TEA_minima</name>
            <dataType>Number</dataType>
            <fieldText>TEA minima (%):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PE_POR_TEA_propuesta</name>
            <dataType>Number</dataType>
            <fieldText>TEA propuesta (%):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Spread</name>
            <dataType>Number</dataType>
            <fieldText>Spread (%):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PE_POR_Comision_estructuracion</name>
            <dataType>Number</dataType>
            <fieldText>Comision estructuracion(%);</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comision_liquidacion_anticipada</name>
            <dataType>Number</dataType>
            <fieldText>Comision liquidacion anticipada (%):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Error</name>
        <label>Pantalla Error</label>
        <locationX>39</locationX>
        <locationY>186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSJError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Se ha Generado un Error Contacta con el administrador&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Producto_no_Cotizador</name>
        <label>Producto no Cotizador</label>
        <locationX>214</locationX>
        <locationY>123</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SinCotizador</name>
            <fieldText>El producto no es apto para el ciclo de cotizacion</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Busqueda_de_OpportunityLineItem</startElementReference>
    <subflows>
        <name>Genera_Compromiso</name>
        <label>Genera Compromiso</label>
        <locationX>164</locationX>
        <locationY>655</locationY>
        <flowName>Compromisos</flowName>
        <inputAssignments>
            <name>ID_Init</name>
            <value>
                <elementReference>ID_Init</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Cliente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Comisión mínima (%).</description>
        <name>Comisinmnima_Constante</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Compromiso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>compromiso__c</objectType>
    </variables>
    <variables>
        <description>ID inicial permite introducir valores</description>
        <name>ID_Init</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Oportunidad de producto</description>
        <name>OportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Oportunidad Base</description>
        <name>Opportunity_base</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Spread_Constante</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TEAmnima</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TEAsugeridaContate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
