src/flows/FlujoEstadosOportunidad-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asigna_Valor_Base_GEstion</name>
        <label>Asigna Valor Base GEstion</label>
        <locationX>651</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>04</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Estado_Acciones_comerciales</name>
        <label>Asignacion Estado Acciones comerciales</label>
        <locationX>38</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Update_Opp</name>
        <label>Asignacion Update Opp</label>
        <locationX>498</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>OportunidadUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Oportunidad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunidadUpdate.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Oportunidad.opportunity_status_type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaFOrmalizada</name>
        <label>AsignaFOrmalizada</label>
        <locationX>57</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>35</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignaPrimeraFormalizacion</name>
        <label>AsignaPrimeraFormalizacion</label>
        <locationX>975</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>32</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Desestimada_asignacion</name>
        <label>Desestimada_asignacion</label>
        <locationX>204</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>36</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Planificada_asignacion</name>
        <label>No Planificada</label>
        <locationX>363</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>03</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Planificada</name>
        <label>Planificada</label>
        <locationX>502</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Precio_autorizado_bajo_delegaci_n_oficina</name>
        <label>Precio autorizado bajo delegaci贸n oficina</label>
        <locationX>829</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>Opp_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Update_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_pendeiente_de_iniciar</name>
        <label>Decision pendeiente de iniciar</label>
        <locationX>374</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Planificada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Planificada</defaultConnectorLabel>
        <rules>
            <name>No_planificada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_planning_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Planificada_asignacion</targetReference>
            </connector>
            <label>No planificada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_En_Formalizacion</name>
        <label>Opp_En_Formalizacion</label>
        <locationX>965</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Valida_Primera_Asignacion_Formalizacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>32</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>34</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaPrimeraFormalizacion</targetReference>
            </connector>
            <label>Valida_Primera_Asignacion_Formalizacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_En_sancion_Desicion</name>
        <label>En sancion</label>
        <locationX>823</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>En_Sancion_Primera_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>08</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>13</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>14</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>16</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>17</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>18</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>19</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>20</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>21</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>22</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>23</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>25</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>26</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>27</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>28</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>29</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>30</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>31</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>32</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>37</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>38</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>39</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>40</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>41</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>42</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>43</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>44</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>45</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>46</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>47</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Precio_autorizado_bajo_delegaci_n_oficina</targetReference>
            </connector>
            <label>En Sancion Primera Asignacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_estados_Etapa</name>
        <label>Opp_estados_Etapa</label>
        <locationX>297</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Acciones_comerciales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Estado_Acciones_comerciales</targetReference>
            </connector>
            <label>Acciones comerciales</label>
        </rules>
        <rules>
            <name>Pendiente_de_iniciar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_pendeiente_de_iniciar</targetReference>
            </connector>
            <label>Pendiente de iniciar</label>
        </rules>
        <rules>
            <name>En_gesti_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>03</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validacion_En_Gestion</targetReference>
            </connector>
            <label>En gesti贸n</label>
        </rules>
        <rules>
            <name>En_sanci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>04</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_En_sancion_Desicion</targetReference>
            </connector>
            <label>En sanci贸n</label>
        </rules>
        <rules>
            <name>En_formalizaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_En_Formalizacion</targetReference>
            </connector>
            <label>En formalizaci贸n</label>
        </rules>
        <rules>
            <name>Formalizada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaFOrmalizada</targetReference>
            </connector>
            <label>Formalizada</label>
        </rules>
        <rules>
            <name>sDesestimada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>07</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desestimada_asignacion</targetReference>
            </connector>
            <label>Desestimada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validacion_En_Gestion</name>
        <label>Validacion En Gestion</label>
        <locationX>577</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Salida V3</defaultConnectorLabel>
        <rules>
            <name>Opp_op_Valida_Gestion_Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>04</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>06</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Oportunidad.opportunity_status_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>07</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Valor_Base_GEstion</targetReference>
            </connector>
            <label>Valida Nueva Gestion</label>
        </rules>
    </decisions>
    <interviewLabel>FlujoEstadosOportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlujoEstadosOportunidad</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busqueda_de_Oportunidad</name>
        <label>Busqueda de Oportunidad</label>
        <locationX>300</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_estados_Etapa</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Id_Entrada</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opp_Oportunidad</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>opportunity_expiry_date__c</queriedFields>
        <queriedFields>opportunity_planning_date__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>opportunity_origin_name__c</queriedFields>
        <queriedFields>opportunity_status_type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Oportunidad</name>
        <label>Actualiza_Oportunidad</label>
        <locationX>499</locationX>
        <locationY>773</locationY>
        <inputReference>Opp_Oportunidad</inputReference>
    </recordUpdates>
    <startElementReference>Busqueda_de_Oportunidad</startElementReference>
    <variables>
        <description>Oportunidad a actualizar</description>
        <name>OportunidadUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>ID de entrada de la Oportunidad</description>
        <name>Opp_Id_Entrada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opp_Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
