src/flows/Motivo_Descarte_Oportunidad_V0-20.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>chat</name>
        <label>chat</label>
        <locationX>561</locationX>
        <locationY>258</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>SO_Oportunidad.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>La Oportunidad: {!SO_Oportunidad.Name}  Paso al estado de desestimada</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SO_Oportunidad.AccountId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Actualiza_Etapa</name>
        <label>Actualiza Etapa</label>
        <locationX>378</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valor1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>07</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>36</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizacion_Oportunidad</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Banco_Azteca</name>
        <choiceText>Banco Azteca</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banco Azteca</stringValue>
        </value>
    </choices>
    <choices>
        <name>Banco_de_Comercio</name>
        <choiceText>Banco de Comercio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banco de Comercio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Banco_Financiero</name>
        <choiceText>Banco Financiero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banco Financiero</stringValue>
        </value>
    </choices>
    <choices>
        <name>BCP</name>
        <choiceText>BCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>BCP_1</name>
        <choiceText>BCP</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BCP</elementReference>
        </value>
    </choices>
    <choices>
        <name>BIF</name>
        <choiceText>BIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Citibank_Per</name>
        <choiceText>Citibank Perú</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Citibank Perú</stringValue>
        </value>
    </choices>
    <choices>
        <name>GNB</name>
        <choiceText>GNB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GNB</stringValue>
        </value>
    </choices>
    <choices>
        <name>ICBC_PERU_BANK</name>
        <choiceText>ICBC PERU BANK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ICBC PERU BANK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interbank</name>
        <choiceText>Interbank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interbank</stringValue>
        </value>
    </choices>
    <choices>
        <name>MiBanco</name>
        <choiceText>MiBanco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MiBanco</stringValue>
        </value>
    </choices>
    <choices>
        <name>Otra</name>
        <choiceText>Otra</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Motivos de desestimación&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
        </userInput>
        <value>
            <elementReference>Comentarios</elementReference>
        </value>
    </choices>
    <choices>
        <name>PEN</name>
        <choiceText>PEN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PEN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_condiciones_de_precio</name>
        <choiceText>Por condiciones de precio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por condiciones de precio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_condiciones_de_producto</name>
        <choiceText>Por condiciones de producto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por condiciones de producto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_condiciones_de_riesgos</name>
        <choiceText>Por condiciones de riesgos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por condiciones de riesgos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_razones_del_cliente</name>
        <choiceText>Por razones del cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Por_razones_del_cliente</elementReference>
        </value>
    </choices>
    <choices>
        <name>Santander</name>
        <choiceText>Santander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scotiabank_1</name>
        <choiceText>Scotiabank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scotiabank</stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Desestimacion_desi1</name>
        <label>Desestimacion_desi1</label>
        <locationX>148</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Desestimacion_ruta1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Por_condiciones_de_riesgos</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Por_condiciones_de_precio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Descarte_1</targetReference>
            </connector>
            <label>Desestimacion_ruta1</label>
        </rules>
        <rules>
            <name>Desestimacion_ruta2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Por_condiciones_de_precio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Por_condiciones_de_riesgos</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Etapa</targetReference>
            </connector>
            <label>Desestimacion_ruta2</label>
        </rules>
    </decisions>
    <interviewLabel>Motivo Descarte Oportunidad V0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Motivo Descarte Oportunidad</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Busqueda_Oportunidad</name>
        <label>Busqueda Oportunidad</label>
        <locationX>345</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desestimacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>valor1</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>SO_Oportunidad</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Loss_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizacion_Oportunidad</name>
        <label>Actualizacion Oportunidad</label>
        <locationX>513</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>chat</targetReference>
        </connector>
        <inputReference>SO_Oportunidad</inputReference>
    </recordUpdates>
    <screens>
        <name>Descarte_1</name>
        <label>Motivo Descarte Riesgos</label>
        <locationX>151</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualiza_Etapa</targetReference>
        </connector>
        <fields>
            <name>Banco_ganador_1</name>
            <choiceReferences>BCP_1</choiceReferences>
            <choiceReferences>Scotiabank_1</choiceReferences>
            <choiceReferences>Interbank</choiceReferences>
            <choiceReferences>BIF</choiceReferences>
            <choiceReferences>Banco_Financiero</choiceReferences>
            <choiceReferences>GNB</choiceReferences>
            <choiceReferences>Santander</choiceReferences>
            <choiceReferences>Citibank_Per</choiceReferences>
            <choiceReferences>ICBC_PERU_BANK</choiceReferences>
            <choiceReferences>Banco_de_Comercio</choiceReferences>
            <choiceReferences>MiBanco</choiceReferences>
            <choiceReferences>Banco_Azteca</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Banco ganador:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Banco Ganador</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Moneda</name>
            <choiceReferences>PEN</choiceReferences>
            <choiceReferences>USD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Moneda</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Tipo de moneda utilizada.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Importe</name>
            <dataType>Currency</dataType>
            <fieldText>Importe</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Importe por el que se gana la Oportunidad</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tasa</name>
            <dataType>Number</dataType>
            <fieldText>Tasa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Desestimacion</name>
        <label>Desestimacion</label>
        <locationX>149</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Desestimacion_desi1</targetReference>
        </connector>
        <fields>
            <name>Motivo_Desestimacion</name>
            <choiceReferences>Por_razones_del_cliente</choiceReferences>
            <choiceReferences>Por_condiciones_de_riesgos</choiceReferences>
            <choiceReferences>Por_condiciones_de_precio</choiceReferences>
            <choiceReferences>Por_condiciones_de_producto</choiceReferences>
            <choiceReferences>Otra</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo Desestimacion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>{!Otra} Ingrasa Infrmacion Especial</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Busqueda_Oportunidad</startElementReference>
    <variables>
        <description>Campo especial para guardar comentarios.</description>
        <name>Comentarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Introduzca sus comentarios</stringValue>
        </value>
    </variables>
    <variables>
        <description>Ejemplo</description>
        <name>SO_Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>valor1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
