src/flows/Motivo_Descarte_Oportunidad_V0-32.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>chat</name>
        <label>chat</label>
        <locationX>523</locationX>
        <locationY>476</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>SO_Oportunidad.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>La Oportunidad: {!SO_Oportunidad.Name}  Paso al estado de desestimada</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SO_Oportunidad.AccountId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Actualiza_Etapa</name>
        <label>Actualiza Etapa</label>
        <locationX>341</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valor1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>07</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.opportunity_status_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>36</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.isProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizacion_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_valor</name>
        <label>Asignacion valor</label>
        <locationX>47</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_Desestimacion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.rejection_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importe</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.rejection_rate_per__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tasa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.rejection_winner_entity_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Banco_ganador_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Etapa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RejectRazon</name>
        <label>RejectRazon</label>
        <locationX>336</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.rejection_reason_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RazonPerdida1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Etapa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updateproces</name>
        <label>Updateproces</label>
        <locationX>520</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>SO_Oportunidad.isProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Banco_de_Comercio</name>
        <choiceText>Banco de Comercio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banco de Comercio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Banco_Financiero</name>
        <choiceText>Banco Financiero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banco Financiero</stringValue>
        </value>
    </choices>
    <choices>
        <name>BCP</name>
        <choiceText>BCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>BCP_1</name>
        <choiceText>BCP</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BCP</elementReference>
        </value>
    </choices>
    <choices>
        <name>BIF</name>
        <choiceText>BIF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Citibank_Per</name>
        <choiceText>Citibank Perú</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Citibank Perú</stringValue>
        </value>
    </choices>
    <choices>
        <name>GNB</name>
        <choiceText>GNB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GNB</stringValue>
        </value>
    </choices>
    <choices>
        <name>ICBC_PERU_BANK</name>
        <choiceText>ICBC PERU BANK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ICBC PERU BANK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interbank</name>
        <choiceText>Interbank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interbank</stringValue>
        </value>
    </choices>
    <choices>
        <name>MiBanco</name>
        <choiceText>MiBanco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MiBanco</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ninguno</name>
        <choiceText>Ninguno</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Otra</name>
        <choiceText>Otra</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Motivos de desestimación&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
        </userInput>
        <value>
            <elementReference>Comentarios</elementReference>
        </value>
    </choices>
    <choices>
        <name>PEN</name>
        <choiceText>PEN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PEN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_condiciones_de_precio</name>
        <choiceText>Por condiciones de precio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por condiciones de precio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_condiciones_de_producto</name>
        <choiceText>Por condiciones de producto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por condiciones de producto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_condiciones_de_riesgos</name>
        <choiceText>Por condiciones de riesgos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por condiciones de riesgos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_razones_del_cliente</name>
        <choiceText>Por razones del cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Por_razones_del_cliente</elementReference>
        </value>
    </choices>
    <choices>
        <name>Santander</name>
        <choiceText>Santander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scotiabank_1</name>
        <choiceText>Scotiabank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scotiabank</stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <constants>
        <name>OtraSeleccion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>05</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valor01</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valor02</name>
        <dataType>String</dataType>
        <value>
            <stringValue>02</stringValue>
        </value>
    </constants>
    <constants>
        <name>valor03</name>
        <dataType>String</dataType>
        <value>
            <stringValue>03</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valor04</name>
        <dataType>String</dataType>
        <value>
            <stringValue>04</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valor5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>05</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Desestimacion_desi1</name>
        <label>Desestimacion_desi1</label>
        <locationX>50</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Desestimacion_ruta1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Valor02</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>valor03</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Descarte_1</targetReference>
            </connector>
            <label>Desestimacion_ruta1</label>
        </rules>
        <rules>
            <name>Desestimacion_ruta2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Valor02</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>valor03</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Valor5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Etapa</targetReference>
            </connector>
            <label>Desestimacion_ruta2</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Motivo_Desestimacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Valor5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_expla</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Listaprecios</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lossCoinlist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>rejection_coin__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LostBank</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>rejection_winner_entity_name__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Motivo Descarte Oportunidad V0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Motivo Desestimacion Oportunidad</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Busqueda_Oportunidad</name>
        <label>Busqueda Oportunidad</label>
        <locationX>345</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desestimacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>valor1</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>SO_Oportunidad</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Loss_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizacion_Oportunidad</name>
        <label>Actualizacion Oportunidad</label>
        <locationX>510</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Updateproces</targetReference>
        </connector>
        <inputReference>SO_Oportunidad</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>518</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>chat</targetReference>
        </connector>
        <inputReference>SO_Oportunidad</inputReference>
    </recordUpdates>
    <screens>
        <name>Descarte_1</name>
        <label>Motivo Descarte Riesgos</label>
        <locationX>48</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_valor</targetReference>
        </connector>
        <fields>
            <name>Banco_ganador_1</name>
            <choiceReferences>Ninguno</choiceReferences>
            <choiceReferences>LostBank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ninguno</defaultSelectedChoiceReference>
            <fieldText>Banco ganador:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Banco Ganador</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Moneda</name>
            <choiceReferences>Ninguno</choiceReferences>
            <choiceReferences>lossCoinlist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ninguno</defaultSelectedChoiceReference>
            <fieldText>Moneda</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Tipo de moneda utilizada.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Importe</name>
            <dataType>Currency</dataType>
            <fieldText>Importe</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Importe por el que se gana la Oportunidad</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tasa</name>
            <dataType>Number</dataType>
            <fieldText>Tasa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Plazo_de_la_operaci_n_perdida</name>
            <dataType>Number</dataType>
            <fieldText>Plazo de la operación perdida</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>expresado en días</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Desestimacion</name>
        <label>Desestimacion</label>
        <locationX>149</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Desestimacion_desi1</targetReference>
        </connector>
        <fields>
            <name>Motivo_Desestimacion</name>
            <choiceReferences>Listaprecios</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de desestimacion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>{!Otra} Ingrasa Infrmacion Especial</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Other_expla</name>
        <label>Other</label>
        <locationX>340</locationX>
        <locationY>176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RejectRazon</targetReference>
        </connector>
        <fields>
            <name>RazonPerdida1</name>
            <fieldText>Motivo de desestimacion</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Busqueda_Oportunidad</startElementReference>
    <variables>
        <description>Campo especial para guardar comentarios.</description>
        <name>Comentarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Introduzca sus comentarios</stringValue>
        </value>
    </variables>
    <variables>
        <name>false</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Ejemplo</description>
        <name>SO_Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>valor1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
