src/flows/Sales_Meeting_Migrate_Task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Migrate open task to new sales meeting</description>
    <interviewLabel>Sales Meeting Migrate Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Meeting Migrate Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Bring the last individual meeting</description>
        <name>Get_Last_Meeting</name>
        <label>Get Last Meeting</label>
        <locationX>153</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Task</targetReference>
        </connector>
        <filters>
            <field>slmt__mngmt_plan_meeting_user_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaborator__r.ManagerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collaborator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Collaborator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>slmt__mngmt_plan_meeting_status_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalized</stringValue>
            </value>
        </filters>
        <filters>
            <field>slmt__mngmt_plan_meeting_status_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unrealized</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slmt__Sales_Meeting__c</object>
        <sortField>DateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Change sales meeting of task</description>
        <name>update_Task</name>
        <label>update Task</label>
        <locationX>529</locationX>
        <locationY>359</locationY>
        <filters>
            <field>slmt__management_plan_meeting_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Meeting.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>slmt__management_plan_meeting_id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Last_Meeting</targetReference>
        </connector>
        <object>slmt__Sales_Meeting__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
